* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* font-size: 15px; */
   color: white; 
   text-align: center;
}

.title {
  fornt-size: 30px;
}

.background {
  height:100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}

.main {
  font-size: 25px; 
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  /*margin-top: 5%;*/
}

.name{
  width: 95%;
  padding: 20px;
  border: 2px solid #566D7E;
  margin: 0;
  border-bottom: 0;
}

.nickname {
  width: 95%;
  padding: 20px;
  border: 2px solid #566D7E;
  margin: 0;
  border-bottom: 0;
  border-top: 0;
}

.subject  {
  width: 95%;
  padding: 20px;
  border: 2px solid #566D7E;
  margin: 0;
  border-bottom: 0;
  border-top: 0;
}

.ge {
  width: 95%;
  padding: 20px;
  border: 2px solid #566D7E;
  margin: 0;
  border-bottom: 0;
  border-top: 0;
}

.programming {
  width: 95%;
  padding: 20px;
  border: 2px solid #566D7E;
  margin: 0;
  border-bottom: 0;
  border-top: 0;
}

.food {
  width: 95%;
  padding: 20px;
  border: 2px solid #566D7E;
  margin: 0;
  border-top: 0;
}